In [1]:
import pandas as pd
import numpy as np

In [11]:
df_train = pd.read_csv('outputs/df_train.csv')
df_prediction = pd.read_csv('outputs/df_prediction.csv')

In [3]:
df_train.info()
df_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15254 entries, 0 to 15253
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   is_holiday           15254 non-null  object
 1   air_pollution_index  15254 non-null  float64
 2   humidity             15254 non-null  float64
 3   wind_speed           15254 non-null  float64
 4   wind_direction       15254 non-null  float64
 5   visibility_in_miles  15254 non-null  float64
 6   dew_point            15254 non-null  float64
 7   temperature          15254 non-null  float64
 8   rain_p_h             15254 non-null  float64
 9   snow_p_h             15254 non-null  float64
 10  clouds_all           15254 non-null  float64
 11  weather_type         15254 non-null  object
 12  weather_description  15254 non-null  object
 13  traffic_volume       15254 non-null  float64
 14  date_time            15254 non-null  object
dtypes: float64(11), object(4)
memory usage: 1.7+ MB

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,date_time
0,Not a Holiday,282.0,65.0,3.0,327.00,5.00,5.00,287.59,0.0,0.0,92.00,Rain,light rain,2886.00,2015-06-11 20:00:00
1,Not a Holiday,273.0,65.0,3.0,326.91,5.05,5.05,288.04,0.0,0.0,87.82,Rain,light rain,2953.91,2015-06-11 21:00:00
2,Not a Holiday,264.0,65.0,3.0,326.82,5.09,5.09,288.49,0.0,0.0,83.64,Rain,light rain,3021.82,2015-06-11 22:00:00
3,Not a Holiday,255.0,65.0,3.0,326.73,5.14,5.14,288.94,0.0,0.0,79.45,Rain,light rain,3089.73,2015-06-11 23:00:00
4,Not a Holiday,246.0,65.0,3.0,326.64,5.18,5.18,289.40,0.0,0.0,75.27,Clear,sky is clear,3157.64,2015-06-12 00:00:00

In [4]:
df_prediction.info()
df_prediction.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15231 entries, 0 to 15230
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date_time   15231 non-null  object
 1   prediction  15231 non-null  float64
dtypes: float64(1), object(1)
memory usage: 238.1+ KB

             date_time  prediction
0  2015-06-12 20:00:00   3418.8982
1  2015-06-12 21:00:00   2971.5054
2  2015-06-12 22:00:00   3377.2540
3  2015-06-12 23:00:00   3200.4985
4  2015-06-13 00:00:00   2972.0442

In [12]:
# Columns to be dropped
columns_to_drop = ['is_holiday', 'air_pollution_index', 'humidity', 'wind_speed',
                   'wind_direction', 'visibility_in_miles', 'dew_point', 'temperature',
                   'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type', 'weather_description']

# Tail for the last 24 rows
df_train_ = df_train.drop(columns=columns_to_drop).tail(24)
df_prediction_ = df_prediction.tail(25)

result_df = pd.merge(df_train_, df_prediction_, on='date_time', how='right')

In [13]:
result_df

    traffic_volume            date_time  prediction
0           4544.0  2017-03-07 10:00:00  4322.40040
1           4655.0  2017-03-07 11:00:00  4549.06500
2           4961.0  2017-03-07 12:00:00  4721.13130
3           4801.0  2017-03-07 13:00:00  4865.58900
4           5215.0  2017-03-07 14:00:00  5085.82300
5           5709.0  2017-03-07 15:00:00  5750.71530
6           6722.0  2017-03-07 16:00:00  6452.00300
7           6017.0  2017-03-07 17:00:00  6004.20400
8           4775.0  2017-03-07 18:00:00  4550.79300
9           3425.0  2017-03-07 19:00:00  3462.13330
10          2815.0  2017-03-07 20:00:00  2889.40500
11          3727.0  2017-03-07 21:00:00  2458.40190
12          2816.0  2017-03-07 22:00:00  2868.05130
13          1115.0  2017-03-07 23:00:00  1583.89160
14           607.0  2017-03-08 00:00:00   711.31976
15           388.0  2017-03-08 01:00:00   439.54370
16           303.0  2017-03-08 02:00:00   370.19867
17           313.0  2017-03-08 03:00:00   343.95984
18           818.0  2017-03-08 04:00:00   845.67500
19          2692.0  2017-03-08 05:00:00  2585.86820
20          5898.0  2017-03-08 06:00:00  5647.66260
21          6832.0  2017-03-08 07:00:00  6354.88700
22          6134.0  2017-03-08 08:00:00  5795.81840
23          5194.0  2017-03-08 09:00:00  4957.64700
24             NaN  2017-03-08 10:00:00  4356.05200

In [25]:
result_df['date_time'].to_numpy().tolist()

['2017-03-07 10:00:00',
 '2017-03-07 11:00:00',
 '2017-03-07 12:00:00',
 '2017-03-07 13:00:00',
 '2017-03-07 14:00:00',
 '2017-03-07 15:00:00',
 '2017-03-07 16:00:00',
 '2017-03-07 17:00:00',
 '2017-03-07 18:00:00',
 '2017-03-07 19:00:00',
 '2017-03-07 20:00:00',
 '2017-03-07 21:00:00',
 '2017-03-07 22:00:00',
 '2017-03-07 23:00:00',
 '2017-03-08 00:00:00',
 '2017-03-08 01:00:00',
 '2017-03-08 02:00:00',
 '2017-03-08 03:00:00',
 '2017-03-08 04:00:00',
 '2017-03-08 05:00:00',
 '2017-03-08 06:00:00',
 '2017-03-08 07:00:00',
 '2017-03-08 08:00:00',
 '2017-03-08 09:00:00',
 '2017-03-08 10:00:00']

In [26]:
df = pd.read_csv('dataset/secondhalf_v4.csv')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16948 entries, 0 to 16947
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   is_holiday           16948 non-null  object
 1   air_pollution_index  16948 non-null  float64
 2   humidity             16948 non-null  float64
 3   wind_speed           16948 non-null  float64
 4   wind_direction       16948 non-null  float64
 5   visibility_in_miles  16948 non-null  float64
 6   dew_point            16948 non-null  float64
 7   temperature          16948 non-null  float64
 8   rain_p_h             16948 non-null  float64
 9   snow_p_h             16948 non-null  float64
 10  clouds_all           16948 non-null  float64
 11  weather_type         16948 non-null  object
 12  weather_description  16948 non-null  object
 13  traffic_volume       16948 non-null  float64
 14  date_time            16948 non-null  object
dtypes: float64(11), object(4)
memory usage: 1.9+ MB

In [30]:
df['is_holiday'].value_counts()

is_holiday
Not a Holiday                15532
Columbus Day                   192
Thanksgiving Day               192
Washingtons Birthday           192
State Fair                     144
Labor Day                      144
Independence Day                96
Veterans Day                    96
Christmas Day                   96
New Years Day                   96
Martin Luther King Jr Day       96
Memorial Day                    72
Name: count, dtype: int64

In [48]:
df['weather_description'].value_counts()

weather_description
sky is clear                    6310
overcast clouds                 1998
scattered clouds                1243
broken clouds                   1157
mist                            1014
light rain                      1012
light snow                       964
few clouds                       706
haze                             571
light intensity drizzle          514
drizzle                          440
fog                              415
moderate rain                    258
heavy intensity rain             170
proximity thunderstorm            51
proximity shower rain             33
heavy intensity drizzle           24
light intensity drizzle'          24
thunderstorm                      14
snow                               9
very heavy rain                    4
thunderstorm with light rain       4
heavy snow                         4
light shower snow                  4
light intensity shower rain        3
squalls                            1
freezing rain                      1
Name: count, dtype: int64

In [49]:
df['weather_type'].value_counts()

weather_type
Clear           6271
Clouds          5230
Mist            1562
Rain            1239
Drizzle         1067
Snow             605
Haze             545
Fog              360
Thunderstorm      69
Name: count, dtype: int64

In [34]:
result_df['date_time'].str[:-6]

0     2017-03-07 10
1     2017-03-07 11
2     2017-03-07 12
3     2017-03-07 13
4     2017-03-07 14
5     2017-03-07 15
6     2017-03-07 16
7     2017-03-07 17
8     2017-03-07 18
9     2017-03-07 19
10    2017-03-07 20
11    2017-03-07 21
12    2017-03-07 22
13    2017-03-07 23
14    2017-03-08 00
15    2017-03-08 01
16    2017-03-08 02
17    2017-03-08 03
18    2017-03-08 04
19    2017-03-08 05
20    2017-03-08 06
21    2017-03-08 07
22    2017-03-08 08
23    2017-03-08 09
24    2017-03-08 10
Name: date_time, dtype: object

In [36]:
df.columns

Index(['is_holiday', 'air_pollution_index', 'humidity', 'wind_speed',
       'wind_direction', 'visibility_in_miles', 'dew_point', 'temperature',
       'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description', 'traffic_volume', 'date_time'],
      dtype='object')

In [41]:
result_df['date_time'].iloc[-1]

'2017-03-08 10:00:00'

In [44]:
date_time = str(pd.to_datetime(result_df['date_time'].iloc[-1]) + pd.to_timedelta('1 hour'))

In [45]:
date_time

'2017-03-08 11:00:00'

In [46]:
df_test = pd.read_csv('outputs/df_test.csv')

In [47]:
df_test.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,date_time
0,Not a Holiday,144.0,44.0,5.0,130.0,8.0,8.0,268.35,0.0,0.0,75.0,Snow,light snow,4454.0,2017-03-08 10:00:00
1,Not a Holiday,42.0,44.0,6.0,110.0,3.0,3.0,269.73,0.0,0.0,20.0,Clouds,few clouds,4749.0,2017-03-08 11:00:00
2,Not a Holiday,12.0,42.0,8.0,120.0,3.0,3.0,270.31,0.0,0.0,40.0,Clouds,scattered clouds,5070.0,2017-03-08 12:00:00
3,Not a Holiday,48.0,34.0,11.0,120.0,3.0,3.0,272.22,0.0,0.0,1.0,Clear,sky is clear,5313.0,2017-03-08 13:00:00
4,Not a Holiday,242.0,34.0,10.0,130.0,1.0,1.0,273.02,0.0,0.0,1.0,Clear,sky is clear,5642.0,2017-03-08 14:00:00